<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Text sentiment API</title>
        <!-- <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
    </head>

    <body>

        <header>
            <div class="logo">
                Alyien API
                <!-- <img src="/images/logo-full.svg" href = "https://aylien.com/"> -->
            </div>
            <div class="nav">
                navigation
            </div>
        </header>

        <main>
            <section>
                <div>Enter your text in the field below to check if it is nice or not:</div>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter here the text you want to check sentiment for.">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <div id = "text"></div>
                    <div id = "polarity"></div>
                    <div id = "subjectivity"></div>
                    <div id = "polarity_confidence"></div>
                    <div id = "subjectivity_confidence"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>The external API is provided by AYLIEN.</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
